.footer-container {
  width: 1250px;
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-products-ul{
  margin-top: 15px;

}
.footer-products-li{
  height: 27px;
  width: fit-content;
}
.footer-products-li-link{
  font-size: 16px;
  text-decoration: none;
  color: #000;

}

.footer-products-li-link::after {
  content: '';
  width: 0%;
  height: 1px;
  background: blue;
  display: block;
  margin: auto;
  transition: 0.4s ease-out;
}
.footer-products-li-link:hover::after {
  width: 100%;
}
.footer-logo img {
  max-width: 140px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .footer-logo{
    width: 100%;
  }
}



@media screen and (max-width: 480px) {
  .footer-logo,
  .footer-products,
  .footer-community,
  .footer-docs {
    width: 100%;
    text-align: center;
  }
  .footer-container{
    display: flex;
    justify-content: center;
  }
  .footer-products-ul{
    margin-top: 15px;
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .footer-products{

  }
  .footer-container{
    
  }
}
